.product {
  /* width: 300px;
  height: 510px; */
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.product img {
  width: 100%;
  height: 286px;
  border-radius: 8px;
  margin: 7px;
}
.product-info {
  margin: 0 14px;
}
.product-info p {
  margin-bottom: 0;
  margin-top: 5px;
}
.product-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-top: 7px;
}
.btn-cart {
  width: 100%;
  background-color: orange;
  transition: all 0.3s;
  color: rgb(255, 255, 255);
  padding: 15px;
  border: none;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.btn-cart .btn-text {
  margin-right: 5px;
}
.btn-cart:hover {
  cursor: pointer;
  background-color: rgb(255, 149, 0);
  font-size: 1.2em;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
