.header {
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  margin-left: 36px;
}
.header a:hover {
  color: orange;
}
.header span {
  color: #ffffff;
  border: 1px solid white;
  padding: 4px 7px;
  border-radius: 3px;
  font-size: 17px;
  margin-left: 36px;
}
.header span:hover {
  color: orange;
  cursor: pointer;
  border-color: orangered;
}
