/* 
.header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  margin-left: 36px;
}
.header a:hover {
  color: orange;
}
.header span {
  color: #ffffff;
  border: 1px solid white;
  padding: 4px 7px;
  border-radius: 3px;
  font-size: 17px;
  margin-left: 36px;
  transition: ease-in-out 0.2s;
} */
